# Node / Nest
node_modules/
dist/
build/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
*.code-workspace

# JetBrains
.idea/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Docker
*.env.local

# Misc
*.swp
*.swo

