NODE_ENV=development
PORT=4000
API_PREFIX=api/v1

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=doctor_booking

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=7d

STRIPE_SECRET_KEY=sk_test_change_me
STRIPE_WEBHOOK_SECRET=whsec_change_me
STRIPE_CURRENCY=usd
FRONTEND_URL=http://localhost:3000

BOOKING_HOLD_MINUTES=5
